<div fxLayout="column" fxLayoutAlign="center center">
  <img class="logo" src="assets/images/logo.png">
  <div class="form__group">
    <form *ngIf="(authState$ | async).loaded; else loading" (ngSubmit)="sendResetPasswordEmail()"
      [formGroup]="forgotPasswordForm">
      <mat-form-field class="form__input" appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput type="email" placeholder="Email address" name="email" formControlName="email">

      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button class="form__button__send-email" mat-raised-button color="accent" type="submit"
          [disabled]="!forgotPasswordForm.valid">Send reset password email</button>
      </div>
    </form>
  </div>

  <ng-template #loading>
    <div fxLayout fxLayoutAlign="center center">
      <mat-spinner color="accent"></mat-spinner>
    </div>
  </ng-template>

</div>