<mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.gt-md="row"
  fxLayoutAlign.gt-md="start start" class="mat-elevation-z4">
  <div fxflex="none">
    <div class="avatar-container">
      <img *ngIf="avatar != true " class="avatar" [src]="avatar">
      <div class="edit-avatar-button" fxLayout="row" fxLayoutAlign="end center" *ngIf="editable">
        <button mat-mini-fab color="accent" aria-label="Edit profile" (click)="avatar.click()" fxShow fxHide.gt-xs>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="accent" aria-label="Edit profile" (click)="avatar.click()" fxHide fxShow.gt-xs>
          <mat-icon>edit</mat-icon>
        </button>
        <input #avatar hidden type="file" onclick="this.value=null" (change)="editAvatar($event)"
          accept="image/x-png,image/jpeg">
      </div>
    </div>
  </div>
  <div class="profile-container" fxFlex="grow" fxLayout="column">
    <mat-card-header fxFlex="none">
      <mat-card-title>{{user.name}} {{user.surname}}</mat-card-title>
      <mat-card-subtitle>{{user.actualPosition}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="profile-info" fxFlex="grow">
      <div *ngIf="user.dni" class="user-detail-row">
        <span class="user-tooltip">DNI:</span>
        <span class="user-item"> {{ user.dni | uppercase }}</span>
      </div>
      <div *ngIf="user.birthDate" class="user-detail-row">
        <span class="user-tooltip">Birth date:</span>
        <span class="user-item"> {{user.birthDate | date:'d/MM/yyyy'}}</span>
      </div>
      <div *ngIf="user.phone" class="user-detail-row">
        <span class="user-tooltip">Phone:</span>
        <span class="user-item"> {{user.phone}}</span>
      </div>
      <div *ngIf="user.address.street" class="user-detail-row">
        <span class="user-tooltip">Address:</span>
        <span class="user-item"> {{user.address.street}}, {{user.address.number}}</span>
      </div>
      <div *ngIf="user.address.city" class="user-detail-row">
        <span class="user-tooltip">City:</span>
        <span class="user-item"> {{user.address.city}}</span>
      </div>
      <div *ngIf="user.address.cp" class="user-detail-row">
        <span class="user-tooltip">CP:</span>
        <span class="user-item"> {{user.address.cp}}</span>
      </div>
      <div *ngIf="user.address.country" class="user-detail-row">
        <span class="user-tooltip">Country:</span>
        <span class="user-item"> {{user.address.country}}</span>
      </div>
      <div *ngIf="drivingLicences" class="user-detail-row">
        <span class="user-tooltip">Driving Licences:</span>
        <span class="user-item"> {{drivingLicences}}</span>
      </div>
      <div class="user-detail-row">
        <span class="user-tooltip">Email:</span>
        <span class="user-item"> {{user.email}}</span>
      </div>
      <div class="edit-user-button" fxLayout="row" fxLayoutAlign="end center" *ngIf="editable">
        <a [routerLink]="" (click)="editProfile()">
          <button mat-mini-fab color="accent" aria-label="Edit profile" fxShow fxHide.gt-xs>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-fab color="accent" aria-label="Edit profile" fxHide fxShow.gt-xs>
            <mat-icon>edit</mat-icon>
          </button>
        </a>
      </div>
    </mat-card-content>
  </div>

</mat-card>