@import "../../../../../themes/responsive.theme.scss";

.mat-card {
  box-sizing: border-box;
  margin: 16px 8px;
  @include screen("sm") {
    margin: 16px 32px;
  }
}

.mat-card-header {
  margin: 1rem 0 0.5rem;
  & .mat-card-title {
    font-size: 2rem;
    display: unset;
    margin-bottom: 1rem;
  }
  & .mat-card-subtitle {
    font-size: 1.3rem;
    margin-top: 8px;
  }
}

.user-tooltip {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.54);
}

.user-item {
  font-size: 1.2rem;
}

.user-detail-row {
  margin-bottom: 0.5rem;
}

.avatar {
  width: 225px;
  height: auto;
  border-radius: 50%;

  @include screen("md") {
    width: 300px;
  }
}

.profile-info {
  position: relative;
}

.profile-container {
  width: 100%;
}

.edit-user-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.avatar-container {
  position: relative;
}

.edit-avatar-button {
  position: absolute;
  bottom: 0;
  right: -8px;
}
