<!-- <header *ngIf="(user$ | async)">
  <span>
    <a routerLink="/" routerLinkActive="Active">
      <img class="logo" src="assets/images/logo.png">
    </a>
  </span>
  <h1 class="title">{{title | uppercase}}</h1>
  <div *ngIf="(user$ |async)" class="login-info">Logged in as {{(user$ | async).email}}
    ({{(user$ | async).type}})
  </div>
  <nav>
    <span class="menu-item" *ngIf="!(user$ | async)">
      <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    </span>
    <span class="menu-item" *ngIf="!(user$ | async)">
      <a routerLink="/auth/register" routerLinkActive="active">Register</a>
    </span>
    <span class="menu-item" *ngIf="(user$ | async)">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </span>
    <span class="menu-item" *ngIf="(user$ | async)">
      <a routerLink="/activities/admin" routerLinkActive="active">Admin</a>
    </span>
    <span class="menu-item" *ngIf="(user$ | async)">
      <a routerLink="/favorites" routerLinkActive="active">Favorites</a>
    </span>
    <span class="menu-item" *ngIf="(user$ | async)">
      <a routerLink="/myactivities" routerLinkActive="active">My activities</a>
    </span>
    <span class="menu-item" *ngIf="(user$ | async)l">
      <a routerLink="/user/profile" routerLinkActive="active">Profile</a>
    </span>
    <span class="menu-item" *ngIf="(user$ | async)">
      <a routerLink="/auth/logout" routerLinkActive="active">Logout</a>
    </span>

  </nav>
</header> -->

<!-- <header> -->
<!-- <mat-toolbar color="primary" class="fixed">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Owner-Account</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/owner">Owner Actions</a>
      </li>
      <li>
        <a routerLink="/account">Account Actions</a>
      </li>
    </ul>
  </div>
</mat-toolbar> -->
<!-- </header> -->