<div *ngIf="(userState$ | async).user.educations.length != 0" class="container">
  <mat-card class="mat-elevation-z4">
    <mat-card-title>Languages</mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="(userState$ | async).user.languages">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Language</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="level">
          <mat-header-cell *matHeaderCellDef>Level</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.level}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="finishDate">
          <mat-header-cell *matHeaderCellDef>Expedition Date</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.finishDate">{{element.finishDate | date:'d/MM/yyyy'}}</ng-container>
            <ng-container *ngIf="!element.finishDate">-</ng-container>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="languagesDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: languagesDisplayedColumns;"></mat-row>

      </mat-table>
    </mat-card-content>
  </mat-card>
</div>