<form [formGroup]="addressDialogForm" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <section>
      <mat-form-field class="form_input" appearance="outline">
        <mat-label>Number</mat-label>
        <input matInput type="text" placeholder="Number" formControlName="number">
      </mat-form-field>
    </section>
    <section>
      <mat-form-field class="form_input" appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput type="text" placeholder="Street" formControlName="street">
      </mat-form-field>
    </section>

  </div>
  <div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button mat-stroked-button color="accent" type="button" (click)="onCloseDialog()">Cancel</button>
    <button mat-button mat-raised-button color="accent" type="submit" [mat-dialog-close]="data" cdkFocusInitial
      [disabled]="!addressDialogForm.valid">Ok</button>
  </div>
</form>