@import "../../../../../themes/responsive.theme.scss";

.container {
  padding: 8px 0;
  @include screen("md") {
    padding: 32px;
  }
}

.mat-card {
  box-sizing: border-box;
  margin: 16px 8px;
  position: relative;
  @include screen("sm") {
    margin: 16px 32px;
  }
}

.mat-card > :first-child {
  margin: 1rem 0 0.5rem !important;
}

.mat-card-header {
  margin: 1rem 0 1.5rem;
  & .mat-card-title {
    font-size: 2rem;
    margin-bottom: 16px;
  }
}

.spinner {
  height: 100%;
}

.filter {
  margin-top: 1rem;
  width: 100%;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.new-user-button {
  // position: absolute;
  // bottom: auto;
  // top: 16px;
  // right: 16px;
  // @include screen("sm") {
  position: fixed;
  bottom: 40px;
  top: auto;
  right: 50px;
  // }
}

.new-user-button-small {
  // margin-left: auto;
  // margin-right: 1rem;
  position: absolute;
  top: 16px;
  right: 16px;
}

// .new-user-button {
//   position: absolute;
//   bottom: auto;
//   top: 16px;
//   right: 16px;
//   margin-bottom: 16px;
//   @include screen("sm") {
//     bottom: 16px;
//     top: auto;
//   }
// }

.action-icon {
  color: rgba(0, 0, 0, 0.87);
  &:hover {
    color: rgba(0, 0, 0, 0.54);
  }
}

.action-link {
  text-decoration: none;
  margin: 0 8px 0 0;

  &:last-child {
    margin: 0;
  }
}

.mat-column-name,
.mat-column-surname {
  box-sizing: border-box;
  flex: 0 0 35% !important;
  width: 35% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @include screen("sm") {
    flex: 1 !important;
    width: auto !important;
  }
}

.mat-column-actions {
  box-sizing: border-box;
  flex: 0 0 30% !important;
  width: 30% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @include screen("sm") {
    flex: 1 !important;
    width: auto !important;
  }
}
