@import "../../../../../themes/responsive.theme.scss";

.container {
  padding: 8px;
  @include screen("lg") {
    padding: 32px;
  }
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.spinner {
  height: 100%;
}

.home-post {
  max-width: unset;
  min-height: 200px;
  @include screen("lg") {
    max-width: 350px;
  }
}

.action-icon {
  color: rgba(0, 0, 0, 0.87);
  &:hover {
    color: rgba(0, 0, 0, 0.54);
  }
}

.action-link {
  text-decoration: none;
  margin: 0 8px 0 0;

  &:last-child {
    margin: 0;
  }
}

.mat-list-item {
  height: unset;
}

.post-actions {
  padding: 0;
  margin-left: auto;
}

.post-action-button {
  margin: 0 8px 0 0;
}

.new-post-button {
  margin-top: 64px;
}
