<div class="container">
  <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.gt-md="row"
    fxLayoutAlign.gt-md="start start" class="mat-elevation-z4">
    <div fxflex="none">
      <img class="avatar" src="../../../../../assets/images/generic-avatar.png">
    </div>
    <div class="profile-container" fxFlex="grow">
      <mat-card-header>
        <mat-card-title>{{user.name}} {{user.surname}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="profile-info">
        <div *ngIf="user.actualPosition" class="user-detail-row">
          <span class="user-tooltip">Actual position:</span>
          <span class="user-item"> {{user.actualPosition}}</span>
        </div>
        <div *ngIf="user.dni" class="user-detail-row">
          <span class="user-tooltip">DNI:</span>
          <span class="user-item"> {{ user.dni | uppercase }}</span>
        </div>
        <div *ngIf="user.birthDate" class="user-detail-row">
          <span class="user-tooltip">Birth date:</span>
          <span class="user-item"> {{user.birthDate | date:'d/MM/yyyy'}}</span>
        </div>
        <div *ngIf="user.phone" class="user-detail-row">
          <span class="user-tooltip">Phone:</span>
          <span class="user-item"> {{user.phone}}</span>
        </div>
        <div *ngIf="user.address.street" class="user-detail-row">
          <span class="user-tooltip">Address:</span>
          <span class="user-item"> {{user.address.street}}, {{user.address.number}}</span>
        </div>
        <div *ngIf="user.address.city" class="user-detail-row">
          <span class="user-tooltip">City:</span>
          <span class="user-item"> {{user.address.city}}</span>
        </div>
        <div *ngIf="user.address.cp" class="user-detail-row">
          <span class="user-tooltip">CP:</span>
          <span class="user-item"> {{user.address.cp}}</span>
        </div>
        <div *ngIf="user.address.country" class="user-detail-row">
          <span class="user-tooltip">Country:</span>
          <span class="user-item"> {{user.address.country}}</span>
        </div>
        <div *ngIf="drivingLicences" class="user-detail-row">
          <span class="user-tooltip">Driving Licences:</span>
          <span class="user-item"> {{drivingLicences}}</span>
        </div>
        <div class="user-detail-row">
          <span class="user-tooltip">Email:</span>
          <span class="user-item"> {{user.email}}</span>
        </div>
        <div class="edit-user-button" fxLayout="row" fxLayoutAlign="end center" *ngIf="editable">
          <a [routerLink]="" (click)="editProfile()">
            <button mat-fab color="accent" aria-label="Edit profile">
              <mat-icon>edit</mat-icon>
            </button>
          </a>
        </div>
      </mat-card-content>
    </div>

  </mat-card>
</div>