@import '../../../../../../themes/responsive.theme.scss';

.container {
  width: 100%;
}

.mat-card {
  margin: 16px 32px;
  box-sizing: border-box;
}

.mat-card-header{
  display: block;
  margin: 1rem 0 1.5rem;
  & .mat-card-title {
    font-size: 32px;
  }
  & .mat-card-subtitle {
    font-size: 1.1rem;
  }
}

.mat-card-title {
  // text-align: center;
  margin-bottom: 16px;
}

.mat-card-content {
  margin: 0 16px;
}

.user-tooltip {
  font-size: 1.1rem;
  color: rgba(0,0,0,0.54);
}

.user-item {
  font-size: 1.2rem;
}

.user-detail-row {
  margin-bottom: 1rem;
}

.avatar {
  width: auto;
  max-height: 200px;

  @include screen('lg'){
    max-height: 300px;
  }
}

.action-icon {
  color: rgba(0,0,0,0.87);
  &:hover {
    color: rgba(0, 0, 0, 0.54);
  }
}

.action-link {
  text-decoration: none;
  margin: 0 8px 0 0;

  &:last-child {
    margin: 0;
  }

}

.profile-info {
  position:relative;
}

.profile-container {
  width: 100%;
}

.edit-user-button {
  position:absolute;
  bottom:0;
  right: 0;
}