.logo {
  display: block;
  max-width: 200px;
  width: 100%;
  height: auto;
  padding: 2rem;
  margin: auto;
}

.form__group {
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  margin: auto;
}

.form__input {
  display: block;
}

.form__button__send-email {
  margin-right: 1rem;
  margin-left: auto;
}

.hidden {
  display: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
