<div fxLayout="column" fxLayoutAlign="center center">
  <img class="logo" src="assets/images/logo.png">
  <div class="form__group">
    <form *ngIf="(authState$ | async).loaded; else loading" (ngSubmit)="passwordReset()"
      [formGroup]="resetPasswordForm">
      <mat-form-field class="form__input hidden" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Username" name="email" autocomplete="username" [value]="email">
      </mat-form-field>
      <mat-form-field class="form__input" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" name="password" formControlName="password"
          autocomplete="new-password">
        <mat-error *ngIf="password.value?.length >= 8 && password.errors">
          Password must contain uppercase, lowercase, simbols and numbers.
        </mat-error>
        <mat-error *ngIf="password.value?.length < 8 && password.value?.length != 0">
          Make sure password it's at least 8 characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form__input" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" placeholder="Confirm Password" name="passwordConfirmation"
          formControlName="passwordConfirmation" autocomplete="new-password">
        <mat-error *ngIf="passwordConfirmation.hasError('passwordMismatch')">
          Passwords confirmation missmatch
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button class="form__button__send-email" mat-raised-button color="accent" type="submit"
          [disabled]="!resetPasswordForm.valid">Reset Password</button>
      </div>
    </form>
    <ng-template #loading>
      <div fxLayout fxLayoutAlign="center center">
        <mat-spinner color="accent"></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>