<div class="container" fxFlex="500px" fxFlex.gt-sm="800px" fxFlex.gt-md="1000px" fxFlex.gt-lg="1140px">
  <img class="logo" src="assets/images/logo.png">
  <div class="form__group">
    <form (ngSubmit)="passwordReset()" [formGroup]="resetPasswordForm">
      <mat-form-field class="form__input hidden" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Username" name="email" autocomplete="username" [value]="email">
      </mat-form-field>
      <mat-form-field class="form__input" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" name="password" formControlName="password"
          autocomplete="new-password">
      </mat-form-field>
      <mat-form-field class="form__input" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" placeholder="Confirm Password" name="passwordConfirmation"
          formControlName="passwordConfirmation" autocomplete="new-password">
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <button class="form__button__send-email" mat-raised-button color="accent" type="submit"
          [disabled]="!resetPasswordForm.valid">Reset Password</button>
      </div>
    </form>
  </div>
</div>