@import "../../../../../themes/responsive.theme.scss";

.mat-card {
  box-sizing: border-box;
  margin: 16px 8px;
  position: relative;
  min-height: 88px;
  @include screen("sm") {
    margin: 16px 32px;
  }
}

.add-button {
  position: absolute;
  bottom: auto;
  top: 16px;
  right: 16px;
  margin-bottom: 16px;
  @include screen("sm") {
    bottom: 16px;
    top: auto;
  }
}

.action-icon {
  color: rgba(0, 0, 0, 0.87);
  &:hover {
    color: rgba(0, 0, 0, 0.54);
  }
}

.action-link {
  text-decoration: none;
  margin: 0 8px 0 0;

  &:last-child {
    margin: 0;
  }
}

.mat-column-name,
.mat-column-number {
  box-sizing: border-box;
  flex: 0 0 35% !important;
  width: 35% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @include screen("sm") {
    flex: 1 !important;
    width: auto !important;
  }
}

.mat-column-actions {
  box-sizing: border-box;
  flex: 0 0 30% !important;
  width: 30% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @include screen("sm") {
    flex: 1 !important;
    width: auto !important;
  }
}
