// @import '../themes/variables.theme.scss';
// @import '~@angular/material/theming';

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

.toolbar__brand {
  margin-left: 16px;
}

.toolbar__brand__text {
  font-size: 1.4rem;
}

.toolbar__link {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

// a:hover, a:active{
//   color: lightgray;
// }

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.fixed {
  position: fixed;
  z-index: 2;
  margin-bottom: 16px;
}

.router-outlet-container {
  height: 100%;
}