@import "~@angular/material/theming";

$capicua-app-primary: mat-palette($mat-amber);
$capicua-app-accent:  mat-palette($mat-light-blue);

// The warn palette is optional (defaults to red).
$capicua-app-warn:    mat-palette($mat-red);