@import "../../../../../themes/responsive.theme.scss";

.container {
  padding: 8px 0;
  @include screen("md") {
    padding: 32px;
  }
}

.mat-card {
  box-sizing: border-box;
  margin: 16px 8px;
  @include screen("sm") {
    margin: 16px 32px;
  }
}

.mat-card > :first-child {
  margin: 1rem 0 1.5rem !important;
}

.mat-card-header {
  // display: block;
  margin: 1rem 0 1.5rem;
  & .mat-card-title {
    font-size: 2rem;
    display: unset;
    margin-bottom: 1rem;
  }
}

.mat-card-title {
  margin-bottom: 16px;
}

.spinner {
  height: 100%;
}

.action-icon {
  color: rgba(0, 0, 0, 0.87);
  &:hover {
    color: rgba(0, 0, 0, 0.54);
  }
}

.action-link {
  text-decoration: none;
  margin: 0 8px 0 0;

  &:last-child {
    margin: 0;
  }
}

.mat-column-name {
  box-sizing: border-box;
  flex: 0 0 70% !important;
  width: 70% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @include screen("sm") {
    flex: 1 !important;
    width: auto !important;
  }
}

.mat-column-actions {
  box-sizing: border-box;
  flex: 0 0 30% !important;
  width: 30% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @include screen("sm") {
    flex: 1 !important;
    width: auto !important;
  }
}
