<div class="profile-container" *ngIf="(userState$ | async).loaded; else loading">

  <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.gt-md="row"
    fxLayoutAlign.gt-md="start start" class="mat-elevation-z4">
    <div flex-item>
      <img class="avatar" src="../../../../../assets/images/generic-avatar.png">
    </div>
    <div flex-item>
      <mat-card-header>
        <mat-card-title>{{user.name}} {{user.surname}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="user.actualPosition" class="user-detail-row">
          <span class="user-tooltip">Actual position:</span>
          <span class="user-item"> {{user.actualPosition}}</span>
        </div>
        <div *ngIf="user.dni" class="user-detail-row">
          <span class="user-tooltip">DNI:</span>
          <span class="user-item"> {{user.dni}}</span>
        </div>
        <div *ngIf="user.birthDate" class="user-detail-row">
          <span class="user-tooltip">Birth date:</span>
          <span class="user-item"> {{user.birthDate | date:'d/MM/yyyy'}}</span>
        </div>
        <div *ngIf="user.phone" class="user-detail-row">
          <span class="user-tooltip">Phone:</span>
          <span class="user-item"> {{user.phone}}</span>
        </div>
        <div *ngIf="user.address.street" class="user-detail-row">
          <span class="user-tooltip">Address:</span>
          <span class="user-item"> {{user.address.street}}, {{user.address.number}}</span>
        </div>
        <div *ngIf="user.address.city" class="user-detail-row">
          <span class="user-tooltip">City:</span>
          <span class="user-item"> {{user.address.city}}</span>
        </div>
        <div *ngIf="user.address.cp" class="user-detail-row">
          <span class="user-tooltip">CP:</span>
          <span class="user-item"> {{user.address.cp}}</span>
        </div>
        <div *ngIf="user.address.country" class="user-detail-row">
          <span class="user-tooltip">Country:</span>
          <span class="user-item"> {{user.address.country}}</span>
        </div>
        <div *ngIf="drivingLicences" class="user-detail-row">
          <span class="user-tooltip">Driving Licences:</span>
          <span class="user-item"> {{drivingLicences}}</span>
        </div>
        <div class="user-detail-row">
          <span class="user-tooltip">Email:</span>
          <span class="user-item"> {{user.email}}</span>
        </div>
      </mat-card-content>
    </div>
  </mat-card>

  <mat-card *ngIf="user.courses.length != 0" class="mat-elevation-z4">
    <mat-card-title>Courses</mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="user.courses">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.number">{{element.number}}</ng-container>
            <ng-container *ngIf="!element.number">-</ng-container>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="expeditionDate">
          <mat-header-cell *matHeaderCellDef>Expedition Date</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.expeditionDate">{{element.expeditionDate | date:'d/MM/yyyy'}}</ng-container>
            <ng-container *ngIf="!element.expeditionDate">-</ng-container>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="validUntil">
          <mat-header-cell *matHeaderCellDef>Valid Until</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.validUntil">{{element.validUntil | date:'d/MM/yyyy'}}</ng-container>
            <ng-container *ngIf="!element.validUntil">-</ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="coursesDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: coursesDisplayedColumns;"></mat-row>

      </mat-table>
    </mat-card-content>
  </mat-card>

</div>

<ng-template #loading>
  <div class="profile-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>