.login__container {
  margin: 2rem auto;
}

.login__image {
  display: block;
  max-width: 200px;
  width: 100%;
  height: auto;
  padding: 2rem;
  margin: auto;
}

.form__group {
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  margin: auto;
}

.login__form__input {
  display: block;
}

.login__form__button__forgot {
  margin-left: 1rem;
}

.login__form__button__signin {
  margin-right: 1rem;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
