<div fxLayout="column" fxLayoutAlign="center center">
  <img class="login__image" src="assets/images/logo.png">
  <div class="form__group">
    <form *ngIf="(authState$ | async).loaded; else loading" (ngSubmit)="login()" [formGroup]="loginForm">
      <mat-form-field class="login__form__input" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="email" placeholder="Username" name="username" formControlName="username">
      </mat-form-field>
      <mat-form-field class="login__form__input" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" name="password"
          formControlName="password" autocomplete="on">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword" type="button">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <a routerLink="/auth/forgot-password">
          <button class="login__form__button__forgot" mat-stroked-button color="accent" type="button">Forgot
            password</button>
        </a>
        <button class="login__form__button__signin" mat-raised-button color="accent" type="submit"
          [disabled]="!loginForm.valid">Sign in</button>
      </div>
    </form>
    <!-- To speed up logins when developing test -->
    <div *ngIf="!environment.production" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center end"
      style="margin-right: 1rem;margin-top: 1rem;">
      <button mat-raised-button color="accent" type="button"
        (click)="loginSpecificUser('admin@gmail.com','password')">Signin
        Admin</button>
      <button mat-raised-button color="accent" type="button"
        (click)="loginSpecificUser('moderator@gmail.com','password')">Signin
        Moderator</button>
      <button mat-raised-button color="accent" type="button"
        (click)="loginSpecificUser('worker@gmail.com','password')">Signin
        Worker</button>
    </div>
  </div>

  <ng-template #loading>
    <div fxLayout fxLayoutAlign="center center">
      <mat-spinner color="accent"></mat-spinner>
    </div>
  </ng-template>
</div>