<form [formGroup]="dniDialogForm" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <section>
      <mat-form-field class="form_input" appearance="outline">
        <mat-label>DNI</mat-label>
        <input matInput type="text" placeholder="39912345W" formControlName="dni">
      </mat-form-field>
    </section>
  </div>
  <div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button mat-stroked-button color="accent" type="button" (click)="onCloseDialog()">Cancel</button>
    <button mat-button mat-raised-button color="accent" type="submit" [mat-dialog-close]="data" cdkFocusInitial
      [disabled]="!dniDialogForm.valid">Ok</button>
  </div>
</form>