<div class="container" *ngIf="!(usersState$ | async).loading; else loading">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>New user</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="newUserForm" (ngSubmit)="createNewUser()">
        <mat-card-content>
          <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-md="row" fxLayoutGap.gt-md="16px">
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>Name</mat-label>
              <input matInput type="text" placeholder="Rodolf" name="name" formControlName="name">
            </mat-form-field>
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>Surname</mat-label>
              <input matInput type="text" placeholder="Roigé Galceran" name="surname" formControlName="surname">
            </mat-form-field>
          </section>
          <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-md="row" fxLayoutGap.gt-md="16px">
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="rroige@capicua.cat" name="email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>User type</mat-label>
              <mat-select formControlName="userTypeId">
                <mat-option *ngFor="let userType of userTypes" [value]="userType.id">
                  {{userType.name}} ({{userType.rank}})
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>
          <!-- <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-md="row" fxLayoutGap.gt-md="16px">
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>Phone</mat-label>
              <input matInput type="text" placeholder="690123123" name="phone" formControlName="phone">
            </mat-form-field>
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>DNI</mat-label>
              <input matInput type="text" placeholder="DNI" name="dni" formControlName="dni">
            </mat-form-field>
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>Birth date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </section>
          <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-md="row" fxLayoutGap.gt-md="16px">
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="1 1 auto">
              <mat-label>Address number</mat-label>
              <input matInput type="text" placeholder="Number" name="addressNumber" formControlName="addressNumber">
            </mat-form-field>
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="3 3auto">
              <mat-label>Address street</mat-label>
              <input matInput type="text" placeholder="Street" name="addressStreet" formControlName="addressStreet">
            </mat-form-field>

            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="1 1 auto">
              <mat-label>Address CP</mat-label>
              <input matInput type="text" placeholder="CP" name="addressCp" formControlName="addressCp">
            </mat-form-field>
          </section>
          <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-md="row" fxLayoutGap.gt-md="16px">
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>Address city</mat-label>
              <input matInput type="text" placeholder="City" name="addressCity" formControlName="addressCity">
            </mat-form-field>
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>Address country</mat-label>
              <input matInput type="text" placeholder="Country" name="addressCountry" formControlName="addressCountry">
            </mat-form-field>
          </section>
          <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-md="row" fxLayoutGap.gt-md="16px">
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>Driving Licences</mat-label>
              <input matInput type="text" placeholder="A,B" name="drivingLicences" formControlName="drivingLicences">
            </mat-form-field>
          </section>
          <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-md="row" fxLayoutGap.gt-md="16px">
            <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
              <mat-label>Actual position</mat-label>
              <input matInput type="text" placeholder="Monitor de menjador" name="actualPosition"
                formControlName="actualPosition">
            </mat-form-field>
          </section> -->

        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="accent" type="submit" [disabled]="!newUserForm.valid">
            Create user
          </button>
        </mat-card-actions>
      </form>

    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <div fxLayout fxLayoutAlign="center center" class="spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>













<!-- <section>
            <mat-form-field appearance="outline">
              <mat-label for="surname">Enter your surname:</mat-label>
              <input matInput type="text" placeholder="Surname" name="surname" formControlName="surname">
              <mat-error *ngIf="surname.dirty && surname.invalid && surname.value.length<3 && surname.value.length>0">
                Surname has to be greater than 2 characters
              </mat-error>
              <mat-error *ngIf="surname.dirty && surname.invalid && surname.value.length>55">
                Surname has to be lesser than 56 characters
              </mat-error>
              <mat-error
                *ngIf="surname.dirty && surname.invalid && surname.value.length>=3 && surname.value.length<=55">
                Surname has to be alphabetic without begining nor ending spaces
              </mat-error>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field appearance="outline">
              <mat-label for="birthDate">Enter your birth date:</mat-label>
              <input matInput type="text" placeholder="Birth date" name="birthDate" formControlName="birthDate">
              <mat-error *ngIf="birthDate.dirty && birthDate.invalid">
                Birth date has to be in DD/MM/YYYY format
              </mat-error>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field appearance="outline">
              <mat-label for="phone">Enter your phone:</mat-label>
              <input matInput type="text" placeholder="Phone number" name="phone" formControlName="phone">
              <mat-error *ngIf="phone.dirty && phone.invalid">
                Phone has to be numeric
              </mat-error>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field appearance="outline">
              <mat-label for="nationality">Select your nationality:</mat-label>
              <mat-select formControlName="nationality" name="nationality" [value]="user.nationality">
                <mat-option *ngFor="let nat of nationalities" [value]="nat">
                  {{nat}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field appearance="outline">
              <mat-label for="nif">Enter your NIF number:</mat-label>
              <input matInput type="text" name="nif" formControlName="nif">
              <mat-error *ngIf="nif.errors?.invalidNif">
                If nationality is set to ES, NIF field has to be in the following format 00000000A
              </mat-error>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field appearance="outline">
              <mat-label for="aboutMe">About me:</mat-label>
              <textarea matInput name="aboutMe" formControlName="aboutMe"></textarea>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field appearance="outline" *ngIf="(userLoggedIn$ | async ).type === userTypes.company">
              <mat-label for="companyName">Enter your company name:</mat-label>
              <input matInput type="text" name="companyName" formControlName="companyName">
              <mat-error
                *ngIf="companyName.dirty && companyName.invalid && companyName.value.length<3 && companyName.value.length>0">
                Company name has to be greater than 2 characters
              </mat-error>
              <mat-error *ngIf="companyName.dirty && companyName.invalid && companyName.value.length>255">
                Comapny name has to be lesser than 256 characters
              </mat-error>
              <mat-error
                *ngIf="companyName.dirty && companyName.invalid && companyName.value.length>=3 && companyName.value.length<=255">
                Company name has to be alphabetic without begining nor ending spaces
              </mat-error>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field appearance="outline" *ngIf="(userLoggedIn$ | async ).type === userTypes.company">
              <mat-label for="companyDescription">Enter your company description:</mat-label>
              <input matInput type="text" placeholder="Company description" name="companyDescription"
                formControlName="companyDescription">
            </mat-form-field>
          </section>
          <section>
            <mat-form-field appearance="outline" *ngIf="(userLoggedIn$ | async ).type === userTypes.company">
              <mat-label for="cif">Enter your CIF:</mat-label>
              <input matInput type="text" placeholder="CIF" name="cif" formControlName="cif">
            </mat-form-field>
          </section> -->