<mat-card class="mat-elevation-z4">
  <mat-card-title>Education</mat-card-title>
  <mat-card-content class="educations-info">
    <mat-table [dataSource]="user.educations" *ngIf="user.educations.length != 0">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="finishDate" fxHide fxShow.gt-xs>
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Expedition Date</mat-header-cell>
        <mat-cell *matCellDef="let element" fxHide fxShow.gt-xs>
          <ng-container *ngIf="element.finishDate">{{element.finishDate | date:'d/MM/yyyy'}}</ng-container>
          <ng-container *ngIf="!element.finishDate && element.finished">Finished</ng-container>
          <ng-container *ngIf="!element.finishDate && !element.finished">In progress</ng-container>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell class="actions-header" *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <ng-container *ngIf="editable">
            <a class="action-link" [routerLink]="" (click)="editEducation(element)">
              <mat-icon class="action-icon">edit</mat-icon>
            </a>
            <a class="action-link" [routerLink]="" (click)="deleteEducation(element)">
              <mat-icon class="action-icon">delete</mat-icon>
            </a>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="educationsDisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: educationsDisplayedColumns;"></mat-row>

    </mat-table>
    <div [ngClass]="{'edit-user-button': user.educations.length != 0}" fxLayout="row" fxLayoutAlign="end center"
      *ngIf="editable">
      <a [routerLink]="" (click)="createEducation()">
        <button mat-fab color="accent" aria-label="Add Course">
          <mat-icon>add</mat-icon>
        </button>
      </a>
    </div>
  </mat-card-content>
</mat-card>