@import "../../../../../themes/responsive.theme.scss";

.mat-card {
  box-sizing: border-box;
  margin: 16px 8px;
  @include screen("sm") {
    margin: 16px 32px;
  }
}

.form__input {
  display: block;
  max-width: 400px;
  width: 100%;
  margin-bottom: 1.2rem;
}

.form__button__change-password {
  margin-right: 1rem;
}

.hidden {
  display: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
