<div *ngIf="documents.length != 0" class="container">
  <mat-card class="mat-elevation-z4">
    <mat-card-title>Documents</mat-card-title>
    <mat-card-content class="educations-info">
      <mat-table [dataSource]="documents">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell class="actions-header" *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <a *ngIf="element.file" class="action-link" [routerLink]="" (click)="viewDocument(element)">
              <mat-icon class="action-icon">visibility</mat-icon>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="documentsDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: documentsDisplayedColumns;"></mat-row>

      </mat-table>
    </mat-card-content>
  </mat-card>
</div>