<form [formGroup]="courseDialogForm" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-md="row" fxLayoutGap.gt-md="16px">
      <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
        <mat-label>Course</mat-label>
        <mat-select formControlName="courseId">
          <mat-option *ngFor="let courseType of courseTypes" [value]="courseType.id">
            {{courseType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-md="row" fxLayoutGap.gt-md="16px">
      <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
        <mat-label>Number</mat-label>
        <input matInput type="text" placeholder="1234/56" name="number" formControlName="number">
      </mat-form-field>
    </section>
    <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-md="row" fxLayoutGap.gt-md="16px">
      <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
        <mat-label>Expedition date</mat-label>
        <input matInput [matDatepicker]="expeditionDate" formControlName="expeditionDate">
        <mat-datepicker-toggle matSuffix [for]="expeditionDate"></mat-datepicker-toggle>
        <mat-datepicker #expeditionDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form__input" appearance="outline" fxFlex.gt-md="auto">
        <mat-label>Valid until</mat-label>
        <input matInput [matDatepicker]="validUntil" formControlName="validUntil">
        <mat-datepicker-toggle matSuffix [for]="validUntil"></mat-datepicker-toggle>
        <mat-datepicker #validUntil></mat-datepicker>
      </mat-form-field>
    </section>
  </div>
  <div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button mat-stroked-button color="accent" type="button" (click)="onCloseDialog()">Cancel</button>
    <button mat-button mat-raised-button color="accent" type="submit" [mat-dialog-close]="data"
      [disabled]="!courseDialogForm.valid">Ok</button>
  </div>
</form>