@import "../../../../../../themes/responsive.theme.scss";

.profile-container {
  padding: 8px 0;
  @include screen("lg") {
    padding: 32px;
  }
}

.mat-column-name,
.mat-column-surname {
  box-sizing: border-box;
  flex: 0 0 35% !important;
  width: 35% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @include screen("sm") {
    flex: 1 !important;
    width: auto !important;
  }
}

.mat-column-actions {
  box-sizing: border-box;
  flex: 0 0 30% !important;
  width: 30% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @include screen("sm") {
    flex: 1 !important;
    width: auto !important;
  }
}
