<form [formGroup]="languageDialogForm" (ngSubmit)="submit()">
  <div mat-dialog-content>
    <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
      <mat-form-field class="form__input" appearance="outline" fxFlex.gt-sm="auto">
        <mat-label>Language</mat-label>
        <mat-select formControlName="name">
          <mat-option *ngFor="let name of names" [value]="name">
            {{name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
      <mat-form-field class="form__input" appearance="outline" fxFlex.gt-sm="auto">
        <mat-label>Level</mat-label>
        <mat-select formControlName="level">
          <mat-option *ngFor="let level of levels" [value]="level">
            {{level}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section fxLayout="column" fxLayoutGap="0" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
      <mat-form-field class="form__input" appearance="outline" fxFlex.gt-sm="auto">
        <mat-label>Finish date</mat-label>
        <input matInput [matDatepicker]="finishDate" formControlName="finishDate">
        <mat-datepicker-toggle matSuffix [for]="finishDate"></mat-datepicker-toggle>
        <mat-datepicker #finishDate></mat-datepicker>
      </mat-form-field>
    </section>
  </div>
  <div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button mat-stroked-button color="accent" type="button" (click)="onCloseDialog()">Cancel</button>
    <button mat-button mat-raised-button color="accent" type="submit" [mat-dialog-close]="data"
      [disabled]="!languageDialogForm.valid">Ok</button>
  </div>
</form>